version: '3'   
services:
  postgresdb:
    image: postgres
    container_name: imbd-postgres-db
    ports:
      - 5433:5432 
    environment:
      - POSTGRES_PASSWORD=docker 
    volumes:
      - pgadmin:/var/lib/postgresql
                                         
  pgadmin:
    image: dpage/pgadmin4
    ports: 
      - 8081:80
    environment:
      - PGADMIN_DEFAULT_EMAIL=duser@domain.com 
      - PGADMIN_DEFAULT_PASSWORD=SuperSecret
    depends_on:
      - postgresdb
    
  scraper:
    build: . #used to build the containers image using the Dockerfile
    volumes:
      - .:/app
    depends_on:
      - postgresdb

volumes:
  pgadmin: